{% extends "login/base.html" %}
{% block title %}欢迎登陆{% endblock %}
{% block content %}
    <div class="container" >
            <div class="col">
                <form class="form-login" action="/login/" method="post">
                    {%  if login_form.captcha.errors %}
                        <div class="alert alert-warning">{{ login_form.captcha.errors }}</div>
                    {% elif message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <h3 class="text-center">欢迎登录</h3>
{#                  <div class="form-group">#}
{#                    <label for="id_username">用户名：</label>#}
{#                    <input type="text" name='username' class="form-control" id="id_username" placeholder="Username" autofocus required>#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label for="id_password">密码：</label>#}
{#                    <input type="password" name='password' class="form-control" id="id_password" placeholder="Password" required>#}
{#                  </div>#}


                    {# 一个{{ login_form }}就直接完成了表单内容的生成工作！#}
{#                    {{ login_form }}#}

                 {#手动渲染表单字段#}
                    <div class="'form-group">
                        {{ login_form.username.label_tag }}
                        {{ login_form.username }}
                    </div>
                    <div class="'form-group">
                        {{ login_form.password.label_tag }}
                        {{ login_form.password }}
                    </div>

                    <div class="form-group">
                        {{ login_form.captcha.label_tag }}
                        {{ login_form.captcha }}
                    </div>

                    <div>
                        <a href="/register/" class="text-success "><ins>新用户注册</ins></a>
                        <button type="submit" class="btn btn-primary float-right">登录</button>
                    </div>
                </form>
{#                <script>#}
{#                    $(function() {#}
{#                        $(".captcha").click(function () {#}
{#                            $.getJSON("{% url 'movie:signup' %}",function(result){#}
{#                                $('.captcha').attr('src', result.image_url);#}
{#                                $('#id_captcha_0').val(result.key);#}
{#                            });#}
{#                        });#}
{#                    });#}
{#                </script>#}
            </div>
    </div>  <!-- /container -->





{% endblock %}